.house {
    /* height: 25rem; */
    margin: 2rem 3rem 2rem 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

.brand-img {
    height: 30px;
    width: 100px;
    float: left;
  }

.available,.saved {  
    width: 40vw;
    min-width: 100px;
    align-content: center;
    margin: 1rem;
    text-align: center;
  }

  .card {
    min-width: 250px;
  }